* {
  padding: 0;
  margin: 0;
}


.black-text {
  display: inline-block;
  background: black;
  color: #fff;
  font-size: 2rem;
  padding: 16px;
  margin-bottom: 120px;
}

.shirts {
  width: 400px;
  height: 400px;
}

.carousel-item {
  width: 100%
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-item {
  width: 100%;
}

.price span {
  font-size: 18px
}

.cut {
  text-decoration: line-through;
  color: red
}

.icons i {
  font-size: 17px;
  color: green;
  margin-right: 2px
}

.offers i {
  color: green
}


label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 2px 11px;
  margin-right: 3px;
  border: 1px solid #424242;
  display: inline-block;
  color: #424242;
  border-radius: 3px;
  text-transform: uppercase
}

label.radio input:checked+span {
  border-color: #424242;
  background-color: #424242;
  color: #fff
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

h4 {
  padding-bottom: 10px;
  padding-top: 10px;
}

h3 {
  padding-top: 10px;
}

.btn {
  background: #424242;
  color: #fff;
}

.btn:hover {
  background: #212121;
  color: #fff; 
}

#carouselExampleSlidesOnly {
  text-align: center;
  background-color: black;
  color: #fff;
}

.container {
  padding-bottom: 30px;
}

/* Second grid */

.product-grid4,.product-grid4 .product-image4{position:relative}
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-1{opacity:0}
.product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-2{opacity:1}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid4 .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#424242;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block;color: red;}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#424242;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#212121;box-shadow:0 0 10px rgba(0,0,0,.5)}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}

.team-icons {
  width: 170px;
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.images-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  }





